CompileFlags:
    Add:
        - "-target"
        - "x86_64-windows-gnu"
        - "-nostdlib"
        - "-nostartfiles"
        - "-Oz"
        - "-s"
        - "-flto"
        - "-I"
        - "/usr/x86_64-w64-mingw32/include/"
        - "-std=c++20"
        - "-fno-exceptions"
        - "-fno-builtin"
        - "-fno-threadsafe-statics"