.vscode/
build/
__pycache__/
.pytest_cache/
dist/
*.spec
*.so
*.exe
*.o
*.key
*.crt
*.pem
server/venv/*
*.pyc
*.bin
server/operators.json
*.log
server/sessions.json
commit.txt
gui/.state.json
Beacon/include/generated_config.h
todo.txt
server/protocol/parser.c